.sintex-google-reviews {
    position: relative;
    margin: 20px auto 20px auto;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 20px 20px 32px;
}

.sintex-google-reviews-header-top {
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin-bottom: 12px;
}

.sintex-google-reviews-header {
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid #f6f6f6;
}

.sintex-google-reviews-header.sintex-google-reviews-header__empty {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.sintex-google-reviews-header-name a {
	display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    text-decoration: none;
    line-height: 23px;
	font-weight: 500;
	color: #000;
}

.sintex-google-reviews-logo {
	display: flex;
    align-items: center;
	font-size: 18px;
    font-weight: 400;
}

.sintex-google-reviews-logo svg {
	height: 30px;
	width: auto;
	margin-right: 10px;
	color: #000;
}

.sintex-google-reviews-header-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sintex-google-reviews-header-bottom-left {
	display: flex;
	align-items: center;
}

.sintex-google-reviews-header-rating {
	font-size: 48px;
    margin-right: 12px;
    line-height: 56px;
	font-weight: 500;
}

.sintex-google-reviews-header-rating-stars {
	display: flex;
	margin-bottom: 4px;
}

.sintex-google-reviews-header-rating-stars > * {
	height: 16px;
	width: 16px;
	margin-right: 1px;
}

.sintex-rating-empty-star {
	background: url(./img/star-empty.svg) no-repeat center center / cover;
}

.sintex-rating-filled-star {
	background: url(./img/star-filled.svg) no-repeat center center / cover;
}

.sintex-rating-half-star {
	background: url(./img/star-half.svg) no-repeat center center / cover;
}

.sintex-google-reviews-add {
	display: block;
    padding: 12px 16px;
    line-height: 16px;
    border-radius: 8px;
	background: #1a6df2;
    color: #fff;
	white-space: nowrap;
}

.sintex-google-reviews-add:hover {
	background: #34a853;
}

.sintex-google-review {
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid #f6f6f6;
}

.sintex-google-review:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.sintex-google-review-header {
	display: flex;
    margin-bottom: 5px;
}

.sintex-google-review-avatar {
	width: 40px;
	height: 40px;
	margin-right: 12px;
    text-align: center;
}

@media (max-width: 480px) {

	.sintex-google-reviews {
		height: auto;
	}

	.sintex-google-reviews-header-top {
		flex-direction: column;
	}
	
	.sintex-google-reviews-header-bottom {
		flex-direction: column;
	}

}